<div class="mainDiv w3-center">
  <div id="divDescription" class="w3-card-4 w3-round width30">
    <img id="imgDescription" src="../assets/images/shopping_picture.jpg" alt="girls are shoppings" class="width30"/>
    <div class="w3-container w3-center text-info">
      <p>
        Amazonia.com, Inc. is an French electronic commerce and cloud computing company based in Paris, France, that was founded by Abdelaziz Elazhari and John-son Hippolyte on November 21, 2018.
      </p>
    </div>

  </div>
</div>
